# Hugo default output directory
**/public

# Hugo binaries for local testing
bin

# NPM
**/node_modules

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

# IDE
.vscode