<article class="summary">
  <header class="header">
    {{- partial "banner" (dict "Page" . "page_href" .RelPermalink) }}

    <div class="header__metadata inline-list">
      {{ partial "datetime.html" . }}

      <div class="header__categories">
        {{- partial "taxonomies" (dict "Page" . "term" "categories") }}
      </div>
    </div>

    <h2 class="header__title">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
  </header>

  {{- with .Summary }}
  <div class="summary__content">{{ . }}</div>
  {{- end }}
</article>
