@function to-rgb($hex) {
  @return red($hex), green($hex), blue($hex);
}

@mixin set-links-color($color, $color-rgb, $color-link-underline-opacity) {
  a {
    color: $color;
    border-bottom-color: rgba($color-rgb, $color-link-underline-opacity);

    &:hover {
      border-bottom-color: $color;
    }
  }
}

:root {
  --color-background: #fff;
  --color-text: #333;
  --color-text-rgb: #{to-rgb(#333)};
  --color-metadata: #666;
  --color-metadata-rgb: #{to-rgb(#666)};
  --color-link-underline-opacity: 0.5;

  --font-family: Georgia, "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, serif;
  --font-family-metadata: system-font;
  --font-size: 2rem;
  --font-line-height: 2;

  --inline-list__item-margin: 0 0 0 2rem;

  --container-padding: 1rem;

  --nav-max-width: 110rem;
  --nav-height: 8rem;

  --header-max-width: 75rem;
  --header-margin-bottom: 3rem;
  --header-padding-bottom: 4rem;
  --header-color-text: #fff;
  --header-color-text-rgb: #{to-rgb(#fff)};
  --header-color-background: #333;
  --header__banner-above-background: radial-gradient(at center, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.4));

  --content-max-width: 75rem;

  --summary-margin-bottom: var(--header-margin-bottom);
  --summary__header-height: 25rem;

  --figure-margin: 0 0 2rem 0;
  --figcaption-margin: -0.5rem 0 0 0;
  --figcaption-font-size: calc(0.9 * var(--font-size));
  --wide-width-margin: 0 -10rem 0 -10rem;

  --footer-font-size: calc(0.8 * var(--font-size));
  --footer-margin-top: var(--header-margin-bottom);
}

.theme--dark {
  --color-background: #111;
  --color-text: #ccc;
  --color-text-rgb: #{to-rgb(#ccc)};
  --color-metadata: #999;
}

.theme--custom {
  {{- range $key, $value := .Site.Params.style -}}
    --{{ $key }}: {{ $value }};
  {{- end -}}
}

// From https://github.com/jonathantneal/system-font-css
@font-face {
  font-family: system-font;
  font-style: normal;
  font-weight: 400;
  src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"), local("Segoe UI"), local("Ubuntu"), local("Roboto-Regular"), local("DroidSans"), local("Tahoma");
}

/* Page */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  overflow-x: hidden; // Hide .full-width
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--font-line-height);
  background-color: var(--color-background);
  color: var(--color-text);
}

/* General items */

a {
  color: var(--color-text);
  text-decoration: none;
  border-bottom: 0.1rem solid rgba(var(--color-text-rgb), var(--color-link-underline-opacity));

  &:hover {
    border-bottom-color: var(--color-text);
  }
}

.banner {
  margin: 0;

  & img {
    width: 100%;
  }
}

.container {
  max-width: var(--content-max-width);
  margin: auto;
  padding: var(--container-padding);
}

.metadata {
  font-family: var(--font-family-metadata);
  color: var(--color-metadata);
  @include set-links-color(var(--color-metadata), var(--color-metadata-rgb), var(--color-link-underline-opacity));
}

.inline-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  word-break: keep-all;

  &__item:not(:first-child) {
    margin: var(--inline-list__item-margin);
  }
}

/* Nav */

.nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;

  color: var(--header-color-text);
  @include set-links-color(var(--header-color-text), var(--header-color-text-rgb), 0);

  & .container {
    max-width: var(--nav-max-width);
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--nav-height);
  }
}

/* Header */

.header {
  position: relative;
  overflow: hidden;
  background: var(--header-color-background);
  color: var(--header-color-text);
  @include set-links-color(var(--header-color-text), var(--header-color-text-rgb), var(--color-link-underline-opacity));

  & .metadata {
    color: var(--header-color-text);
  }

  & .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    & img {
      height: 100%;
      object-fit: cover;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--header__banner-above-background);
    }
  }

  & *:not(.banner) {
    position: relative;
  }
}

.header--main {
  margin-bottom: var(--header-margin-bottom);
  padding-top: var(--nav-height);
  padding-bottom: var(--header-padding-bottom);

  & .container {
    max-width: var(--header-max-width);
  }
}

/* Posts list */

.summary {
  margin-bottom: var(--summary-margin-bottom);

  .header {
    height: var(--summary__header-height);
  }
}

/* Post */

.post {

  figure {
    margin: var(--figure-margin);
    text-align: center;

    & figcaption {
      margin: var(--figcaption-margin);
      font-size: var(--figcaption-font-size);
    }

    & figcaption > * {
      margin: 0;
    }
  }

  img {
    max-width: 100%;
  }

  // From https://css-tricks.com/full-width-containers-limited-width-parents/
  .full-width {
    position: relative;
    left: 50%;
    right: 50%;
    width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw;

    & img {
      width: 100%;
    }
  }
}

/* Footer */

.footer--main {
  font-size: var(--footer-font-size);
  margin-top: var(--footer-margin-top);
}