@function to-rgb($hex) {
  @return red($hex), green($hex), blue($hex);
}

:root {
  --background-color: #fff;
  --color: #333;
  --color-rgb: #{to-rgb(#333)};
  --metadata-color: #666;
  --font-family: Georgia, "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, serif;
  --metadata-font-family: system-font;
  --font-size: 2rem;
  --line-height: 2;

  --container-max-width: 700px;
  --container-padding: 1rem;

  --nav-height: 6rem;
  --nav-menu-item-margin: 1rem;

  --header-color: #fff;
  --header-color-rgb: #{to-rgb(#fff)};
  --header-margin-bottom: 3rem;
  --header-padding-bottom: 4rem;
  --header__banner-above-background: radial-gradient(at center, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.4));
}

.theme--dark {
  --background-color: #111;
  --color: #ccc;
  --color-rgb: #{to-rgb(#ccc)};
  --metadata-color: #999;
}

.theme--custom {
  {{- range $key, $value := .Site.Params.style -}}
    --{{ $key }}: {{ $value }};
  {{- end -}}
}

// From https://github.com/jonathantneal/system-font-css
@font-face {
  font-family: system-font;
  font-style: normal;
  font-weight: 400;
  src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"), local("Segoe UI"), local("Ubuntu"), local("Roboto-Regular"), local("DroidSans"), local("Tahoma");
}

/* Page */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: var(--background-color);
  color: var(--color);
}

/* General items */

a {
  color: var(--color);
  text-decoration: none;
  border-bottom: 1px solid rgba(var(--color-rgb), 0.5);

  & :hover {
    border-bottom-color: var(--color);
  }
}

.banner {
  margin: 0;

  & img {
    width: 100%;
  }
}

.container {
  max-width: var(--container-max-width);
  margin: auto;
  padding: var(--container-padding);
}

.metadata {
  font-family: var(--metadata-font-family);
}

/* Nav */

.nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: var(--nav-height);

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & a {
    color: var(--header-color);
    border-bottom-style: none;
  }

  &__menu {
    display: flex;
    margin: 0;
    list-style: none;
    word-break: keep-all;

    &__item {
      margin: var(--nav-menu-item-margin);
    }
  }
}

/* Header */

.header {
  position: relative;
  overflow: hidden;
  margin-bottom: var(--header-margin-bottom);
  padding-top: var(--nav-height);
  padding-bottom: var(--header-padding-bottom);
  color: var(--header-color);

  & a {
    color: var(--header-color);
    border-bottom-color: rgba(var(--header-color-rgb), 0.5);
  }

  & a:hover {
    border-bottom-color: var(--header-color);
  }

  &__banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    & .banner {
      width: 100%;
      height: 100%;
    }

    & img {
      height: 100%;
      object-fit: cover;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--header__banner-above-background);
    }
  }

  &__above-banner {
    position: relative;
  }
}

/* Content */

.content {

  & .metadata {
    color: var(--metadata-color);
  }
}