$font-size: {{ .Param "style.font-size" | default "2rem" }};
$line-height: {{ .Param "style.line-height" | default "2" }};
$content-max-width: {{ .Param "style.content.max-width" | default "700px" }};
$nav-menu-item-margin: {{ .Param "style.nav-menu-item-margin" | default "10px" }};
$metadata-color: {{ .Param "style.metadata-color" | default "#717b8e" }};

// From https://github.com/jonathantneal/system-font-css
@font-face {
  font-family: system-font;
  font-style: normal;
  font-weight: 400;
  src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"), local("Segoe UI"), local("Ubuntu"), local("Roboto-Regular"), local("DroidSans"), local("Tahoma");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: Georgia, "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, serif;
  font-size: $font-size;
  line-height: $line-height;
}

.header-banner {
  max-height: 200px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: $content-max-width;
  margin: auto;

  &__menu {
    display: flex;
    margin: 0;
    list-style: none;
    word-break: keep-all;

    &__item {
      margin: $nav-menu-item-margin;
    }
  }
}

.content {
  max-width: $content-max-width;
  margin: auto;
}

.metadata {
  font-family: system-font;
  color: $metadata-color;
}