<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta http-equiv="x-ua-Compatible" content="ie=edge">

  <title>
  {{- block "title" . -}}
    {{- with .Title -}}{{- . }} | {{ end -}}
    {{- .Site.Title -}}
  {{- end -}}
  </title>

  {{- with .Description }}
  <meta name="description" content="{{ . }}">
  {{- else -}}
  {{- with .Site.Params.description }}
  <meta name="description" content="{{ . }}">
  {{- end -}}
  {{- end }}

  {{- range .AlternativeOutputFormats }}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .RelPermalink }}" title="{{ $.Site.Title | safeHTML }}">
  {{- end }}

  {{/* Get normalize.css first */}}
  {{- $normalize_css := resources.Get "css/normalize.css/normalize.css" | minify -}}
  {{- $css_files := slice $normalize_css -}}

  {{/* Parse SCSS files */}}
  {{ $scss_files := slice (resources.Get "css/blogpaper.scss") }}
  {{ $scss_files := $scss_files | append (where (resources.Match "**.scss") ".Name" "!=" "css/blogpaper.scss") }}

  {{- $scss_options := (dict "outputStyle" "compressed") -}}

  {{- range $scss_files -}}
    {{- $css := . | resources.ExecuteAsTemplate .Name . | toCSS $scss_options -}}
    {{- $css_files = $css_files | append $css -}}
  {{- end -}}

  {{/* Add custom CSS files */}}
  {{- range where (resources.Match "**.css") ".Name" "!=" "normalize.css" -}}
    {{- $css := . | minify -}}
    {{- $css_files = $css_files | append $css -}}
  {{- end -}}

  {{/* Concat and link CSS files */}}
  {{- $css := $css_files | resources.Concat "main.css" | fingerprint "sha512" -}}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
</head>
