<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-ua-Compatible" content="ie=edge">
  <title>{{ .Site.Title }}</title>

  {{ $normalize_css := resources.Get "css/node_modules/normalize.css/normalize.css" -}}
  {{- $blogpaper_css := resources.Get "css/blogpaper.css" -}}
  {{- $css_files := slice $normalize_css $blogpaper_css -}}
  {{- $css := $css_files | resources.Concat "main.css" | postCSS (dict "use" "autoprefixer") | minify | fingerprint -}}
  <link rel="stylesheet" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}">
</head>